{% if site.contact %}
  <div class="contact">
    <ul class="contact__list list-reset">
      {% for contact in site.contact %}
      <li class="contact__item">
        <a class="contact__link" href="{{contact.link}}" target="_blank" rel="noopener" aria-label="{{ contact.name | escape }}">
          {% if contact.icon == 'logo-x' %}
            {% include icon-x.html %}
          {% else %}
            <ion-icon name="{{contact.icon}}" aria-hidden="true"></ion-icon>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
