<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | smartify }}{% else %}{{ site.title | smartify }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:site_name" content="{{ site.title | smartify }}">
  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}">
  {% else %}
  <meta property="og:image" content="{{ site.url}}{{ site.author.image }}">
  {% endif %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@paolino">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | smartify }}{% else %}{{ site.title | smartify }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">
  {% if page.image %}
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
  {% else %}
  <meta name="twitter:image" content="{{ site.url}}{{ site.author.image }}">
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | smartify }}" href="{{ '/feed.xml' | relative_url }}">

  <link href="https://fonts.googleapis.com/css?family=Lora:700%7CRoboto:400,500" rel="stylesheet">
  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if page.layout == 'post' %}BlogPosting{% else %}WebSite{% endif %}",
  "headline": "{% if page.title %}{{ page.title | smartify }}{% else %}{{ site.title | smartify }}{% endif %}",
  "description": "{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}",
  {% if page.image %}
  "image": "{{ site.url }}{{ page.image }}",
  {% else %}
  "image": "{{ site.url}}{{ site.author.image }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}"
  },
  {% if page.layout == 'post' %}
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}",
  {% endif %}
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{% if site.logo %}{{ site.logo }}{% endif %}"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | replace:'index.html','' | absolute_url }}"
  }
}
</script>


  <script defer data-domain="paolino.me" src="https://plausible.io/js/script.js"></script>

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>