<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{% include head.html %}

<body class="{% if page.url == '/' %}{% assign class = 'home' %}{{ class }}{% endif %}">

  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
      {{ content }}
  </main>
  <!-- end content -->

  <button type="button" class="top" aria-label="Back to top"><ion-icon name="arrow-up-outline"></ion-icon></button>

  {% include footer.html %}

  {% include javascripts.html %}
</body>

</html>
