---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 push-d-1 push-2 col-m-12 push-m-0">
      <div class="page-head">
        <h1 class="page-head__title">{{ page.title | escape }}</h1>
      </div>
    </div>
  </div>
</div>

<!-- begin page -->
<article class="page fadein{% if page.page_class %} {{ page.page_class }}{% endif %}">
  <div class="container">
    <div class="row">
      {% assign page_image = page.media_image %}
      {% if page_image %}
      <div class="col col-10 col-d-10 push-d-1 push-1 col-m-12 push-m-0">
        <div class="image-box">
          <picture>
            {% if page.responsive_avif_images %}<source type="image/avif" srcset="{% for image in page.responsive_avif_images %}{{ site.baseurl }}{{ image.path }} {{ image.width }}w{% unless forloop.last %}, {% endunless %}{% endfor %}"
              sizes="(max-width: 576px) calc(100vw - 40px), (max-width: 992px) 83vw, 1000px">{% endif %}
          <img class="page-image" src="{{site.baseurl}}{{ page.responsive_image_src | default: page_image }}" alt="{{ page.image_alt | default: page.title | escape }}"
            {% if page.responsive_images %}srcset="{% for image in page.responsive_images %}{{ site.baseurl }}{{ image.path }} {{ image.width }}w{% unless forloop.last %}, {% endunless %}{% endfor %}"
            sizes="(max-width: 576px) calc(100vw - 40px), (max-width: 992px) 83vw, 1000px"{% endif %}
            {% if page.media_image_width and page.media_image_height %}width="{{ page.media_image_width }}" height="{{ page.media_image_height }}"{% endif %}
            decoding="async" fetchpriority="high">
          </picture>
        </div>
      </div>
      {% endif %}
      <div class="col col-8 col-d-10 push-d-1 push-2 col-m-12 push-m-0">
        <div class="page__content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>
<!-- end page -->
